#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a ns8-node-red instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=ns8-node-red server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/ns8-node-red.pid %t/ns8-node-red.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/ns8-node-red.pid \
    --cidfile=%t/ns8-node-red.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:1880 \
    --volume nrdata:/data:Z \
    --tz=local \
    ${NODE_RED_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ns8-node-red.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ns8-node-red.ctr-id
PIDFile=%t/ns8-node-red.pid
Type=forking

[Install]
WantedBy=default.target
